useDynLib(ibts, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export("$<-.ibts")
export("%<=c%")
export("%<=cNA%")
export("%<c%")
export("%<cNA%")
export("%>=c%")
export("%>=cNA%")
export("%>c%")
export("%>cNA%")
export("[.ibts")
export("[<-.ibts")
importFrom(Rcpp, evalCpp)
importFrom(xts, as.xts)
importFrom(stats, end)
importFrom(stats, start)
importFrom(xts, tzone)
importFrom(xts, "tzone<-")
importFrom(graphics, barplot)
importFrom("data.table", "as.data.table")
import(lubridate)
export(as.xts)
export(tzone)
export("tzone<-")

S3method("$<-",ibts)
S3method("[",ibts)
S3method("[<-",ibts)
S3method(apply,default)
S3method(apply,ibts)
S3method(as.character,ibts)
S3method(as.data.frame,ibts)
S3method(as.data.table,ibts)
S3method(as.double,ibts)
S3method(as.logical,ibts)
S3method(as.xts,ibts)
S3method(barplot,ibts)
S3method(c,POSIXct)
S3method(cbind,ibts)
S3method(colClasses,ibts)
S3method(colClasses,default)
S3method(coverage,ibts)
S3method(coverage,default)
S3method(end,ibts)
S3method(lines,ibts)
S3method(Math,ibts)
S3method(merge,ibts)
S3method("names<-",ibts)
S3method(Ops,ibts)
S3method(pairs,ibts)
S3method(plot,formula)
S3method(plot,ibts)
S3method(print,ibts)
S3method(rbind,ibts)
S3method(row.names,ibts)
S3method(start,ibts)
S3method(tzone,default)
S3method(tzone,ibts)
S3method("tzone<-",ibts)
S3method(unique,POSIXct)
S3method(which,ibts)
S3method(which,default)
S3method(which.max,ibts)
S3method(which.max,default)
S3method(which.min,ibts)
S3method(which.min,default)


S3method(as.ibts,data.frame)
S3method(as.ibts,data.table)
S3method(as.ibts,default)
S3method(as.ibts,list)
S3method(as.ibts,matrix)
S3method(as.ibts,NULL)
S3method(as.ibts,xts)

importFrom("graphics", "abline", "axis", "Axis", "box", "grid",
         "legend", "lines", "mtext", "par", "plot", "points",
         "polygon", "rect", "rug", "strwidth", "text", "xinch",
         "yinch")
importFrom("grDevices", "col2rgb", "dev.flush", "dev.hold",
         "gray.colors", "rgb")
importFrom("stats", "as.formula", "coef", "cor", "loess", "median",
         "model.frame", "model.matrix", "na.action", "na.exclude",
         "na.omit", "na.pass", "predict", "qnorm", "qt", "sd")
importFrom("utils", "write.table")

import("deming","shiny")
importFrom("MASS","rlm")
importFrom("robustbase","lmrob")
importFrom("plotrix", "axis.break")
